/* scene replaces main view while it's visible */ 
button {
	min-width: 6em;
}

button:active {
	-webkit-animation:buttonActive 1s;
}

#scenecontainer {
	position: fixed;
	background-color: rgba(0,0,0,0.4);
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	/*height: 100%;
	width: 100%; */
	display: block;
	/* 
	/margin: 0px;
	margin-top: 20px;
	*/
	padding: 10px;
	vertical-align: middle;
	text-align: center;
	min-height: 360px;
}

#scene {
	margin-top: 2em;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

#fpscounter {
	padding-left: 10px;
	padding-right: 10px;
	background: black;
	color: green;
}

#chooseEvent:active {
	-webkit-animation:buttonActive 1s;
}

ul#eventmenuitems {
	list-style: none;	
	margin: 0px;
}

ul#eventmenuitems li {
	cursor: pointer
}

ul#eventmenuitems li:hover {
	text-decoration: bold;
	color: blue;
}

@keyframes buttonActive
{
	100%: -webkit-transform:scale(0.9);
	
}

.hide {
	display: none;
	visibility: hidden;
	height: 0px;
	min-height: 0px;
}

.startmenu ul {
	text-align: left;	
	color: green;
}

.jobscene {
	width: 16em;
	height: 9em;
	padding: 2em;
	color: black; 
	background-color: #cfc;
	text-align: center;
}
.joblist {
	text-align: left;
	background-color: lightgreen;
	width: 12em;
	padding: 1em;
}

.joblist li {
	color: green;
}

div.statistics {
	padding: 1em;
	text-align: left;
	height: auto;
	width: 80%;
	background: lightgray;
	margin-left: 20em;
}

.statistics ul {
	/*width: 16em;*/
}

