/* scene replaces main view while it's visible */ 
#scenecontainer {
	position: fixed;
	background-color: rgba(0,0,0,0.4);
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	/*height: 100%;
	width: 100%; */
	display: block;
	/* 
	/margin: 0px;
	margin-top: 20px;
	*/
	padding: 10px;
	vertical-align: middle;
	text-align: center;
	min-height: 360px;
}

#scene {
	width: 10em;
	height: 10em;
	margin-top: 2em;;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(51, 0, 51);
	color: #efe;
}

#fpscounter {
	padding-left: 10px;
	padding-right: 10px;
	background: black;
	color: green;
}

#chooseEvent:active {
	-webkit-animation:buttonActive 0.3s;
}

ul#eventmenuitems {
	list-style: none;	
	
}

@keyframes buttonActive
{
	100%: -webkit-transform:scale(0.9);
	
}

.hide {
	display: none;
	visibility: hidden;
	height: 0px;
	min-height: 0px;
}

.startmenu ul {
	text-align: left;	
	color: green;
}

.jobscene {
	width: 12em; 
	background-color: #cfc;
	text-align: center;
}
.joblist {
	text-align: left;
	color: black;
	width: 12em;
}

